@media screen and (max-width: 1300px) {
	.container {
		max-width: 960px;
	}

	.flip {
		transition: 1s;
	}

	.cont {
		font-size: 23px;
	}

	.menu__box {
		margin-left: 200px;
	}
}

@media screen and (max-width: 1220px) {
	.container {
		max-width: 960px;
	}

	.cont {
		font-size: 22px;
	}

	.menu__box {
		margin-left: 190px;
	}

}

@media screen and (max-width: 1040px) {
	.container {
		max-width: 980px;
	}

	.menu__box {
		margin-left: 150px;
	}
}

@media screen and (max-width: 990px) {
	.container {
		max-width: 850px;
	}

	.cont {
		font-size: 16px;
	}

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked~.menu__btn>span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked~.menu__btn>span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked~.menu__btn>span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked~.menu__box {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
		margin-top: -5px;
	}

	.menu__btn>span,
	.menu__btn>span::before,
	.menu__btn>span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #e28710;
		transition-duration: .25s;
	}

	.menu__btn>span::before {
		content: '';
		top: -8px;
	}

	.menu__btn>span::after {
		content: '';
		top: 8px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background: rgba(18, 18, 18, .8);
		text-shadow: 1px 1px 1px #5b3737;
		transition-duration: .25s;
	}

	.menu__item {
		display: block;
		padding: 12px 24px;
		color: #222020;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: .25s;
	}

	.menu__box li:nth-child(4) {
		padding-left: 0;
	}

	.resensie_card {
		width: 300px;
		padding: 10px;
	}

	.resensie_card {
		margin-bottom: 100px;
	}

	.main_tit {
		font-size: 40px;
		width: 80%;
	}



}

@media screen and (max-width: 850px) {
	.container {
		max-width: 810px;
	}

	.advan_card {
		width: 250px;
		padding: 10px;
	}

	.why {
		font-size: 16px;
		width: 100%;

	}
}

@media screen and (max-width: 780px) {
	.container {
		max-width: 710px;
	}

	.cont {
		font-size: 15px;
	}

	.med {
		margin-right: 8px;
		width: 25px;
		height: 25px;
	}

	.main_tit {
		font-size: 30px;
		width: 80%;
	}

}

@media screen and (max-width: 680px) {
	.container {
		max-width: 610px;
	}
	.why {
		font-size: 14px;
		width: 100%;

	}

	.advan_card {
		background: #fff;
		width: 90%;
	}

	.main_tit {
		width: 90%;
	}
	
.flip {
	width: 300px;

	>.front,
	>.back {
		height: 230px;
	}
}

	.med {
		margin-right: 8px;
		width: 20px;
		height: 20px;
	}

	.cont {
		font-size: 13px;
	}

	.logo img {
		width: 130px;
	}

	.contacts {
		display: block;
		justify-content: end;

	}

	.flip {
		position: relative;
		display: inline-block;
		margin-right: 2px;
		margin-bottom: 1em;
		width: 400px;
	}
	.sub_txt{
		width: 100%;
		font-size: 18px;
	}

}

@media screen and (max-width: 560px) {
	.container {
		max-width: 480px;
	}

	.cont {
		font-size: 10px;
	}

	.med {
		margin-right: 8px;
		width: 20px;
		height: 20px;
	}

	.contacts {
		gap: 20px;
		justify-content: flex-end;
	}

	.logo img {
		width: 110px;
	}
}

@media screen and (max-width: 450px) {
	.container {
		max-width: 100%;
	}

	.contacts {
		gap: 5px;
	}
}